language: cpp
compiler: clang
dist: Bionic
script:
  - mkdir build
  - cd build
  - cmake ..
  - make
addons:
  apt:
    packages:
      - cmake
      - libxrandr-dev
      - libxinerama-dev
      - libxcursor-dev
      - libxi-dev
      - mesa-common-dev
      - libgl1-mesa-dev
      - libglu1-mesa-dev